<div class="avatar-container">
  <div class="avatar-preview">
    @if (avatarUrl()) {
      <img [src]="avatarUrl()" alt="Avatar" class="avatar-img" />
    } @else {
      <div class="avatar-placeholder">{{ avatarInitials() }}</div>
    }
  </div>
  <div class="avatar-actions">
    <label class="btn-avatar-upload">
      {{ langService.translate('profile.change_avatar') }}
      <input type="file" accept="image/*" (change)="handleFileSelected($event)" hidden />
    </label>
    <button type="button" class="btn-avatar-default" [disabled]="!avatarUrl()" (click)="handleUseDefault()">
      {{ langService.translate('profile.use_default_avatar') }}
    </button>
  </div>
</div>
