<header class="zen-header">
  <a routerLink="/todos" class="zen-logo">
    <img src="assets/images/logo.svg" alt="Zen Branch" class="logo-img" />
    <div class="logo-text">
      <span class="logo-brand">Zen Branch</span>
      <span class="logo-tagline">{{ langService.translate('header.logo_tagline') }}</span>
    </div>
  </a>

    <div class="zen-header-center">
    <div class="header-titles">
      <h1 class="header-main-title">{{ pageTitle() }}</h1>
      @if (userBio()) {
        <span class="header-bio" title="{{ userBio() }}">💭 {{ userBio() }}</span>
      }
    </div>
  </div>

  <div class="zen-actions">
        <div class="avatar-wrapper">
      <button class="btn-avatar" (click)="toggleUserMenu($event)" [title]="langService.translate('header.account')">
        @if (headerAvatarUrl()) {
          <img [src]="headerAvatarUrl()" alt="Avatar" class="header-avatar-img" />
        } @else {
          <span class="header-avatar-initials">{{ headerAvatarInitials() }}</span>
        }
      </button>
      @if (showUserMenu()) {
      <div class="user-menu-dropdown" (click)="$event.stopPropagation()">
        <a routerLink="/profile" (click)="closeUserMenu()" class="menu-item">
          <span>{{ langService.translate('header.profile') }}</span>
        </a>
        <a routerLink="/change-password" (click)="closeUserMenu()" class="menu-item">
          <span>{{ langService.translate('header.change_password') }}</span>
        </a>
        <button (click)="handleLogout()" class="menu-item btn-logout-item">
          <span>{{ langService.translate('header.logout') }}</span>
        </button>
      </div>
      }
    </div>
  </div>
</header>

